# System
.idea
.vscode
.project
.buildpath
.settings
.DS_Store
Thumbs.db
~*

# Project
.env
.env.local
.env.dev
phpstan.neon
node_modules
public/hot
public/storage
storage/*.key
vendor
.vagrant
Homestead.json
Homestead.yaml
.translation_io

# Logs & Cache
*.log
*.cache
tests/cache
public/mix-manifest.json

# Docker
.bash_history
caddy/
composer/
psysh/

# Backup lang files
resources/lang/*/[a-zA-Z]*20[0-9][0-9][0-1][0-9][0-3][0-9]_[0-2][0-9][0-5][0-9][0-5][0-9].php
