<?xml version="1.0"?>
<!-- @see https://pear.php.net/manual/en/package.php.php-codesniffer.annotated-ruleset.php -->
<php>
    <env name="APP_ENV" value="testing" />
</php>
<ruleset name= "Agorakit PHPCS Rules">
    <file>tests</file>
    <file>app</file>

    <!-- Progress indicator -->
    <arg value= "p"/>

    <!-- Show codes -->
    <arg value= "s"/>

    <!-- Set to PSR-12 -->
    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength.TooLong" />
    </rule>
    <rule ref="Generic.Files.LineLength">
        <properties>
            <property name="lineLimit" value="120"/>
            <property name="absoluteLineLimit" value="150"/>
        </properties>
    </rule>
</ruleset>
