<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         bootstrap="bootstrap/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">app/</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="APP_DEFAULT_LOCALE" value="en"/>
        <env name="TESTING_DB_HOST" value="localhost"/>
        <env name="TESTING_DB_DATABASE" value="agorakit_testing"/>
        <env name="TESTING_DB_USERNAME" value="root"/>
        <env name="TESTING_DB_PASSWORD" value="root"/>
        <env name="MAIL_DRIVER" value="log"/>
    </php>
</phpunit>
