
// Body
$body-bg: #fff;

// Borders
$laravel-border-color: darken($body-bg, 20%);
$list-group-border-color: $laravel-border-color;
$card-border-color: $laravel-border-color;
$border-color: $laravel-border-color;


$theme-colors: (
  "primary": #4a5568,
  "danger": #ff4136,
  "info": rgb(7, 87, 139),
);



// Typography
$font-size-base: 0.95rem;
$font-weight-base: 400;
$line-height-base: 1.5;
$text-color: #636b6f;


$grid-gutter-width:           2rem;
$headings-font-weight: 400;

$h1-font-size:                $font-size-base * 2.2;
$h2-font-size:                $font-size-base * 1.8;
$h3-font-size:                $font-size-base * 1.4;
$h4-font-size:                $font-size-base * 1.2;


// buttons

$btn-border-radius: 9999px;
$btn-border-radius-lg : 9999px;
$btn-border-radius-sm: 9999px;

$dropdown-border-radius: 8px;