

/***************************** COMMON STUFF / BOOTSTRAP TWEAKS / TYPEFACES ***********************************/

body
{
  padding-bottom: 150px;
  background-image: url("/images/seamless_paper_texture.png");
  background-color: #edede0;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


a
{
  text-overflow: ellipsis;
}


.body img, .alert img
{
  max-width: 100%;
}

// from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
a
{
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

blockquote
{
  border-left: 3px solid #aaa;
  margin-left: 2rem;
  padding-left : 1rem;
}

/**************************** main content **************************/


.main-container
{
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(72, 78, 80, 0.2);
  border-radius: 4px;
  background-color: white;
}


.toolbox
{
  padding-bottom: 1rem;
}

.spacer
{
  padding-bottom: 2rem;
}

/************************** Header ************************************/

h1.small
{
  font-size: 1.3rem;
}


/**************************** Navigation **************************/

.navbar-brand
{
  padding: 0;
}

.nav-centered
{
  display: flex;
  justify-content: center;
}

.dashboard-nav
{
  padding-bottom: 20px;
}



/**************************** footer ****************************/
.credits {
  font-size: 0.7em;
  text-align: center;
  margin-top: 1em;
}

.credits, .credits a {
  color: rgb(108, 131, 136);
}




/******************************** UI ******************************************/

.nav-tabs
{
  margin-bottom: 2rem;
}

label
{
  margin-bottom: 0rem;
  font-weight: bold;
  color: #444;
}

.toast
{
  max-width: 100%;
  width: 100%;
  border-radius: 0;
  border: 0;
}



.btn-circle
{
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  padding: auto;
  margin: 0;
  background-color: #ccc;

}

.trumbowyg
{
  margin-top: 0;
}

.form-group
{
  margin-bottom: 2rem;
}

.dialog .form-group
{
  margin-bottom: 1rem;
}


.result
{
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eee;
}

.badge-unread
{
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  width: 1.4rem;
  height: 1.4rem;
  color: white;
  background-color: $danger;
  font-size: 70%;
  font-weight: bold;
}




.tag
{
  border: 1px solid #bbb;
  background-color: #eee;
  color: #555;
  font-weight: 400;
}

.dialog
{
  max-width: 50em;
  padding: 1rem;
}

.badge-group
{
  color: #888;
  background-color: white;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 25em;
}


.meta
{
  color: #888;
  font-size: 80%;
}

.meta a
{
  color: #888;
}

.small-help
{
  color: #888;
  font-size: 0.8rem,
}

.help {
  padding: 20px;
  margin: 20px 0px;
  border:1px solid #aaa; 
  border-radius: 3px;
  background-color: rgb(188, 218, 226);
}

.help h4 {
  color: #1B809E;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 18px;
}

.help a {
  text-decoration: underline;
}


.alert a {
  text-decoration: underline;
}


.body table
{
  width: 100%;
  border: 1px solid #dee2e6;
}

.body td, .body th
{
  padding: .75rem;
  border: 1px solid #aaa;
}
