.btn-unread
{
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 25px;
    text-transform: uppercase;
}

.comment.unread
{
    border-right: 3px solid #426dad;
    font-weight: bold;
    padding-right: 5px;
}

.comment-content
{
    border-bottom: 1px solid #ccc;
}
.comment
{

    p:last-child
    {
        margin-bottom: 0
    }

    .body
    {
        a
        {
            text-decoration: underline;
        }
    }

    .avatar img
    {
        float: left;
    }


    .user
    {
        font-weight: 700;
    }

    .vote
    {
        width: 24px;
        text-align: center;
        float: right;
    }

    .actions
    {
        font-size: 0.8em;
        float: right;
    }
}
