.btn-unread
{
    border: 1px solid #aaa;
    background-color: #eee;
    border-radius: 25px;
    text-transform: uppercase;
}

.comment
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .body
    {
        a
        {
            text-decoration: underline;
        }
    }

    .avatar img
    {
        float: left;
    }


    .user
    {
        font-weight: 700;
    }

    .vote
    {
        width: 24px;
        text-align: center;
        float: right;
    }

    .actions
    {
        font-size: 0.8em;
        float: right;
    }
}
