
.main-dialog
{
    padding: 2rem;
    max-width: 35rem;


    h1
    {
        font-size: 1.4rem;
    }

    .help, p
    {
        border: 0;
        background-color: white;
        padding: 0;
        margin: 0;
        margin-bottom: 1rem;
        color: #777;
    }

}

.up-modal-dialog
{
    max-width: 35rem;


    h1
    {
        font-size: 1.4rem;
    }
}

.dialog
{
    min-width: 20em;
}
