.discussion .body a
{
  text-decoration: underline;
}


.discussions
{
  .discussion
  {

    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $border-color;

    .unread
    {
      font-weight: bold;
    }

    .name
    {
      font-weight: bold;
      height: 1.6em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name a
    {
      overflow: hidden;
      text-overflow: ellipsis;
    }


    .summary
    {
      max-height: 3em;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .content .summary a
    {
        color: $body-color;
    }

    .avatar
    {
      margin-right: 1rem;
    }

    .avatar img
    {
      width: 40px;
      height: 40px;
    }



    .group
    {
      font-size: 0.8em;
    }


    .comments
    {
      max-width: 65em;
    }


    .user
    {
      font-weight: 700;
    }


    .body
    {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}
