.discussion .body a
{
    text-decoration: underline;
}

.discussions
{
  .discussion
  {

    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: top;

    .unread
    {
      font-weight: bold;
    }

      .name
    {
      font-weight: bold;
      display: block;
    }


    .content .summary a
    {
        color: $body-color;
    }

    .avatar
    {
      margin-right: 20px;
    }

    .avatar img
    {
      width: 40px;
      height: 40px;
    }

    .date, .unread
    {
      flex-shrink: 0;
      padding-left: 20px;
    }


    .group
    {
      font-size: 0.8em;
    }


    .comments
    {
      max-width: 65em;
    }


    .user
    {
      font-weight: 700;
    }


    .body
    {
      margin-top: 1em;
      margin-bottom: 2em;
    }
  }
}
