
.discussion-embed
{
  text-decoration: none !important;
  background-color: #ddd;
  /*border: 1px solid #aaa;*/
  max-width: 30em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}


.discussion-embed .title
{
  font-weight: bold;
}


.file-embed
{
  text-decoration: none !important;
  background-color: #ddd;
  /*border: 1px solid #aaa;*/
  max-width: 30em;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.file-embed .thumbnail img
{
  max-width: 10rem;
}
