
/******************************** Mobile **************************************/
@media screen and (max-width: 576px) {


  .avatar img
  {
    width: 25px;
    height: 25px;
  }

  .container
  {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-container
  {
    margin: 0;
    border-radius: 0;
    padding-top: 1rem;
  }

  .nav-tabs
  {
    font-size: 70%;
  }
}
