
/******************************** Mobile **************************************/
@media screen and (max-width: 720px) {


    .avatar img
    {
        width: 25px;
        height: 25px;
    }


    .main-container
    {
        margin: 0;
        padding: 1.5rem;
        border-radius: 0;
    }

    .nav-tabs
    {
        font-size: 70%;
    }
}
