
/******************************** Mobile **************************************/
@media screen and (max-width: 576px) {


  .badge
  {
    font-size: 65%;
  }

  .discussions .tags
  {
    max-height: 1.3rem;
    overflow: hidden;
  }

  .avatar img
  {
    width: 25px;
    height: 25px;
  }

  .discussions .discussion .avatar
  {
    margin-right: 0.5rem;
  }

  .container
  {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .main-container
  {
    margin: 0;
    border-radius: 0;
    padding-top: 1rem;
  }

  .dialog h2
  {
    font-size: 1.4rem;
  }

}
