.setting
{
  margin-bottom: 3rem;


  .setting-help
  {
    font-size: 80%;
    color: gray;
  }

  h2
  {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .trumbowyg-box
  {
    margin-top: 0.2rem;
  }

}
