.spinner
{
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  top:0;
  padding: 1.5rem;
  margin: auto;
  width: 100%;

  background-color: #adbcdc;
  color: #000;
  display: none;
  position: fixed;
  z-index: 200;
}

.up-active
{
  opacity: 0.33;
}
