.spinner
{
  left: 50%;
  transform: translateX(-50%);
  top:0;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #adbcdc;
  color: #000;
  display: none;
  position: fixed;
  z-index: 200;
}
