.selectize-control.multi .selectize-input > div
{
  background-color : $primary !important;
  color: white !important;
  font-weight: bold;
}

.badge
{
  border-radius: 5em;
  padding: 0.4em .8em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
