.avatar img {
    width: 40px;
    height: 40px;
}



.users
{
  .user
  {

    margin-bottom: 0.8rem;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid $border-color;
    display: flex;
    align-items: top;


    .unread
    {
      font-weight: bold;
    }

    .name
    {
      font-weight: bold;
      display: block;
    }


    .avatar
    {
      margin-right: 20px;
    }

    .avatar img
    {
      width: 40px;
      height: 40px;
    }

    .date, .unread
    {
      flex-shrink: 0;
      padding-left: 20px;
    }


    .group
    {
      font-size: 0.8em;
    }

  }
}
