/***************************** COMMON STUFF ***********************************/
body
{
  padding-top: 40px;
  color: rgb(20, 20, 20);
  background-color: rgb(244, 240, 231);
}

/*
.container
{
  background-color: rgb(242, 241, 239);
}
*/


.spacer
{
  margin-bottom: 2em;
}




/******************************** UI ******************************************/

.btn-right
{
  float: right;
}

/****************************** GROUPS & THEIR HOMEPAGE ********************************/

.thumbnail img
{
  width: 100%;
}

.thumbnail
{
  display: inline-block;
  width: 100%;
  border: 0;
  border-bottom: 3px solid #DCDCDC;

}

.group .summary
{
  height: 6em;
  overflow: hidden;
}

.group h4
{
  height: 2.5em;
  overflow: hidden;
}


.group_header
{
    border-bottom: 3px solid #DCDCDC;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: white;
    padding: 0.5em 2em 1em 2em;
}

.group_header h1
{
  font-size: 2em;
  /*font-weight: bold;*/
}


/***************************** COMMENTS ***************************************/

.comment
{
  border-bottom: 1px solid #aaa;
  padding-bottom: 20px;
  margin-bottom: 20px;

}

.comment .avatar img
{
  width: 24px;
  height: 24px;
  float: left;
}

.comment .user, .comment .body, .comment .created
{
  margin-left: 30px;

}

.comment .created
{
  font-size: 0.5em;
}

.comment .user
{
  font-weight: bold;
}

.comment .vote
{
  width: 24px;
  text-align: center;
  float: right;
}

/***************************** tables ***************************/
table.special { table-layout: fixed }

table.special td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

span.summary
{
  color: gray;
}

table.special .name
{
  font-weight: bold;
}


/************************** DISCUSSIONS ***************************************/

.discussion, .comments
{
  max-width: 65em;
}

.discussion .user
{
  font-weight: bold;
}

.discussion .body
{
  margin-top: 1em;
  margin-bottom: 2em;
}


/*********************** TABS and GROUP HEADERS ************************************/

.tab_content
{
  background-color: white;
  padding: 2%;
  width: 100%;
}



/************************ dialogs *************************/

.alert
{
  margin-top: 2em;
  font-size: 1.5em;
}
