@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:400,300,700);

/***************************** COMMON STUFF / BOOTSTRAP TWEAKS***********************************/

body {
    padding-top: 40px;
    padding-bottom: 150px;
    color: rgb(20, 20, 20);
    background-color: rgb(41, 65, 75);
    /*background-image: url("/images/seamless_paper_texture.png");*/
    font-family: "Open Sans";
}

body, table
{
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6
{
    font-family: "Roboto";
    font-weight: 300;
}


@media (min-width: 1600px) {
    .container{
        width: 1500px;
    
    }
}


.sidebar
{
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}

.sidebar a
{
    display: block;
    height: 1.5em;
    overflow: hidden;
}


.page_header
{
    border-radius: 4px;
    background-color: white;
    /*background-color: #e4235c;*/
}

.tab_content
{
    border-radius: 4px;
    border-top-left-radius: 0;
    background-color: white;
    /*background-color: #e4235c;*/
}


.page_header h1, .page_header h2
{
    padding: 0;
    margin: 0;
}


.nav-margin-top
{
    margin-top: 30px;
}

.credits
{
    font-size: 0.7em;
    text-align: center;
    margin-top: 1em;
}

.credits, .credits a
{
    color: rgb(108, 131, 136);
}

a
{
    color: rgb(62, 41, 75);
    color: rgb(22, 110, 166);
}

/*
.tab_content a, .tab_content a:visited
{
color: rgb(22, 110, 166);
}
*/


/****************** NAVBAR *******************/
.navbar-default, .navbar-default .navbar-brand, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a
{
    color: rgb(41, 65, 75);
    background-color: white;
}

.navbar-nav > li > a
{
    text-transform: uppercase;
}


/***************** SHADOWS *****************/
.page_header, .tab_content, .alert, .row .group
{
    box-shadow: 0 4px 8px rgba(72, 78, 80, 0.5);
}


.btn
{
    border-radius: 3px;
}


.spacer {
    margin-bottom: 2em;
}


/*********************** TABS ******************/
/*
.nav-tabs > li.active > a
{
border: 1px solid white;
}
*/


.nav-tabs
{
    border-bottom: 0;
}


/******************************** UI ******************************************/

.btn-right {
    float: right;
}
.history {
    padding: 15px;
    background-color: rgb(206, 222, 131);
}
.help {
    padding: 20px;
    margin: 20px 0px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #EEE;
    border-image: none;
    border-radius: 3px;
    border-left-color: #1B809E;
    background-color: rgb(188, 218, 226);
}
.help h4 {
    color: #1B809E;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.help a
{
    text-decoration: underline;
}


.alert a
{
    color: white;
    text-decoration: underline;
}

.label
{
    border-radius: 2px;
}

.label a
{
    color: white;
}

/****************************** GROUPS & THEIR HOMEPAGE ********************************/


.cover{
    width: 25%;
    float: right;
}

.thumbnail img {
    width: 100%;
    border-radius: 3px;
}
.thumbnail {
    display: inline-block;
    width: 100%;
    border: 0;
}
.group .summary {
    height: 6em;
    font-size: 0.9em;
    overflow: hidden;
}
.group h4 {
    height: 2.3em;
    overflow: hidden;
}
.page_header {
    margin-bottom: 1em;
    padding: 2%;
}
.page_header h1 {
    font-size: 2em;
    /*font-weight: 700;*/
}


/***************************** USERS ******************/
.avatar img
{
    width: 40px;
    height: 40px;
}


.users_list .user
{
    font-size: 0.9em;
    padding: 1em;
    margin-bottom: 3em;
    border: 1px solid #aaa;
    border-radius: 3px;
    min-height: 200px;
}





/***************************** COMMENTS ***************************************/

.comment {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.comment .avatar img {
    float: left;
}
.comment .user, .comment .body, .comment .created, .comment .actions {
    margin-left: 60px;
}
.comment .created {
    font-size: 0.7em;
}
.comment .user {
    font-weight: 700;
}
.comment .vote {
    width: 24px;
    text-align: center;
    float: right;
}

.comment .actions
{
    font-size: 0.8em;
    float: right;
}

/***************************** tables ***************************/

table.special {
    table-layout: fixed
}

table.special td.content
{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

span.summary {
    color: gray;
}


span.group-name {
    color: gray;
    font-size: 0.8em;
}

table.special .name {
    font-weight: 700;
}

/************************** DISCUSSIONS ***************************************/

.discussion, .comments {
    max-width: 65em;
}
.discussion .user {
    font-weight: 700;
}
.discussion .body {
    margin-top: 1em;
    margin-bottom: 2em;
}

/************************** SEARCH  ***************************************/
.result
{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.search_results .tab_content
{
    padding-bottom: 10em;
}


/*********************** Gallery ************************************************/
#gallery img
{
    display: inline-block;
    padding-bottom: 4px;
}


/*********************** Calendar **********************************************/
.fc-today
{
    background-color: rgb(255, 241, 144) !important;
}

.fc-content a
{
    color: white !important;
}


/*********************** TABS and GROUP HEADERS ************************************/

.tab_content {
    background-color: white;
    padding: 2%;
    width: 100%;
}

.nav-tabs li a
{
    background-color: rgba(238, 238, 238, 0.70);
    font-weight: 400;
    font-weight: 1.1em;
    color: rgb(41, 65, 75);
}

.nav-tabs li a
{
    color: rgb(41, 65, 75);
}


color: white;


/************************ dialogs *************************/

.alert {
    font-size: 1.5em;
}
