up-modal-box {
    border-radius: 10px;
    padding: 32px;
}

body {
    font-family: 'nunito';
}

/* bigger font on larger screen*/
@media (min-width: 992px) {

    body,
    .dropdown-item,
    .btn {
        font-size: 1rem;
    }
}

a,
p {
    overflow-wrap: anywhere;
}

:root {
    --tblr-border-radius: 5px;
    --tblr-body-bg: #f5f4e9;
    --tblr-list-group-item-padding-x: 0;
    /*--tblr-border-color: #aaa;*/
}

/*
.nav-tabs .nav-link.active {
    background-color: white;
    border: none;
    border-bottom: 1px solid white;
}


.nav-pills .nav-link.active {
    background-color: var(--tblr-info);
    color: white;
}

.nav-tabs {
    border-bottom: none;
}
*/


.nav-pills .nav-link.active {
    background-color: var(--tblr-secondary);
    color: var(--tblr-light);
}

.group,
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 15px 1px #0000000a, 0 1px 6px #0000000a;
}

.list-group-item {
    padding: var(--tblr-list-group-item-padding-y) 0;
}

.form-group label {
    font-weight: bold;
    color: #444;
}

.form-group {
    margin-bottom: 24px;
}



.small-help,
.text-meta {
    color: #888;
    font-size: 0.9rem;
}


.help {
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: rgb(188, 218, 226);
}

.help h4 {
    color: #1B809E;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.help a {
    text-decoration: underline;
}


.alert a {
    text-decoration: underline;
}


.reaction {
    width: 24px;
    height: 24px;
}


.action-date {
    width: 50px;
    height: 40px;
    border: 1px solid #aaa;
    text-align: center;
    border-radius: 4px;
    background: #f8f6f3;
    padding: 3px;
    box-sizing: content-box;
}

.square {
    width: 8px;
    height: 8px;
    display: inline-block;
}

.circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

.tag {
    background-color: #dbd7d1;
    padding: 1px 7px 1px 7px;
    border-radius: 8px;
    color: #63615b;
    text-decoration: none;
    font-size: 0.9em;
}

.tag:hover {
    background-color: #a7a69a;
    text-decoration: none;
}

.file-embed {
    background-color: #f9f7f1;
    border-radius: 8px;
}

.file-embed:hover {
    background-color: #e4e4d7;
    text-decoration: none;
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
*/

/* allow full calendar buttons to wrap */

.fc {
    & .fc-toolbar {
        flex-wrap: wrap;
        gap: .5rem;
    }
}


.sticky-messages {
    position: sticky;
    top: 64px;
    z-index: 50000;
    width: 100%;
}

.bottom-messages {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50000;
    /*width: 100%;*/
}

.js-loader {
    background-color: #4f9f00;
    color: #cdff9b;
    padding: 10px 20px;
    display: none;
    border-top-left-radius: 5px;
}

.js-network-error {
    background-color: #dd1701;
    color: #e9a58c;
    padding: 10px;
    display: none;
}

.sticky-messages .alert {
    background-color: #034e80;
    color: #e7edf8;
    border-radius: 0;
}