up-modal-box {
    border-radius: 10px;
    padding: 32px;
}

body {
    font-family: 'nunito';
}


/* bigger font on larger screen*/
/**
@media (min-width: 992px) {

    body,
    .dropdown-item,
    .btn {
        font-size: 1rem;
        line-height: 1.15rem;
    }
}
**/

a,
p {
    overflow-wrap: anywhere;
}

:root {
    --tblr-border-radius: 8px;
    --tblr-body-bg: #f5f4e9;
    --tblr-list-group-item-padding-x: 0;
    /*--tblr-border-color: #aaa;*/
}

/*
.nav-tabs .nav-link.active {
    background-color: white;
    border: none;
    border-bottom: 1px solid white;
}


.nav-pills .nav-link.active {
    background-color: var(--tblr-info);
    color: white;
}

.nav-tabs {
    border-bottom: none;
}
*/


.nav-pills .nav-link.active {
    background-color: var(--tblr-secondary);
    color: var(--tblr-light);
}

.group,
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 15px 1px #0000000a, 0 1px 6px #0000000a;
}

.list-group-item {
    padding: var(--tblr-list-group-item-padding-y) 0;
}

.form-group label {
    font-weight: bold;
    color: #444;
}

.form-group {
    margin-bottom: 24px;
}

.summary {
    height: 1.2rem;
    overflow: hidden;
}


.small-help,
.text-meta {
    color: #888;
    font-size: 0.8rem;
}


.help {
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: rgb(188, 218, 226);
}

.help h4 {
    color: #1B809E;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.help a {
    text-decoration: underline;
}


.alert a {
    text-decoration: underline;
}


.reaction {
    width: 24px;
    height: 24px;
}


.event-date {
    width: 36px;
    height: 36px;
    border: 2px solid #aaa;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
    background: #f8f6f3;
    padding: 3px;
    box-sizing: content-box;
}

.square {
    width: 8px;
    height: 8px;
    display: inline-block;
}

.circle {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
}

.tag {
    background-color: #eeebe8;
    padding: 3px 8px 3px 8px;
    border-radius: 30px;
    color: #555147;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
}

.tag:hover {
    background-color: #a7a69a;
    text-decoration: none;
}

.file-embed {
    background-color: #f9f7f1;
    border-radius: 8px;
}

.file-embed:hover {
    background-color: #e4e4d7;
    text-decoration: none;
}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}
*/

/* allow full calendar buttons to wrap */

.fc {
    & .fc-toolbar {
        flex-wrap: wrap;
        gap: .5rem;
    }
}


.sticky-messages {
    position: sticky;
    top: 64px;
    z-index: 1;
    width: 100%;
}

.bottom-messages {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 50000;
    /*width: 100%;*/
}

.js-loader {
    background-color: #4f9f00;
    color: #cdff9b;
    padding: 10px 20px;
    display: none;
    border-top-left-radius: 5px;
}

.js-network-error {
    background-color: #dd1701;
    color: #e9a58c;
    padding: 10px;
    display: none;
}

.messages .alert {
    background-color: #0054a6;
    color: white;
    border-radius: 0;
}




/* tom select*/
.ts-control {
    border: 0;
}

.ts-wrapper {
    padding: 0;
}

.ts-wrapper.multi .ts-control>div {
    padding: 4px 12px;
    border-radius: 5px;

}

.ts-wrapper.multi .ts-control>div.active {
    background-color: var(--tblr-primary);
    color: white;
}


.up-active:is(a, [up-follow], input[type=submit], button[type=submit], button:not([type])) {
    outline: 2px solid rgb(113, 113, 146);
}

.up-loading {
    animation: blink 2s infinite;
}


@keyframes blink {
    50% {
        opacity: .5;
    }
}
