.actions .action
{
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
/*  border-bottom: 1px solid #ccc;*/
  display: flex;
  align-items: top;
}

.action .unread
{
  font-weight: bold;
}

.action .avatar
{
  margin-right: 20px;
}

.action .date
{

  flex-shrink: 0;
  padding-right: 20px;
}

.action .date .day
{
  font-size: 2em;
}


.action .group
{
  font-size: 0.8em;
}
