
/***************************** Activity ***************************/

.activity
{
    padding: 1em;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: 0 2px 4px rgba(72, 78, 80, 0.2);
    border-radius: 2px;
    margin-bottom: 2em;
}

.activity .detail
{
    padding-left: 45px;
    font-size: 0.8em;
}

.activity .action
{
    text-align:right;
}


.activity-small
{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #ddd;
}
