

/***************************** COMMON STUFF / BOOTSTRAP TWEAKS / TYPEFACES ***********************************/

body {
    padding-top: 40px;
    padding-bottom: 150px;
    background-image: url("/images/seamless_paper_texture.png");
}

.container {
    background-color: white;
}


/**************************** main content **************************/


.row .group, .main-container
{
    box-shadow: 0 2px 4px rgba(72, 78, 80, 0.2);
    border-radius: 2px;
}

.main-container
{
    padding: 0 2em 5em 2em;
    margin-top: 2em;
}



.page_header {
    text-align: center;
    background-color: white;
}



.toolbox
{
    padding-bottom: 1em;
}

.spacer
{
    padding-bottom: 2em;
}


/**************************** Second level navigation **************************/

.nav-tabs > li.active > a
{
    border-radius: 4px 4px 0 0;
}

.nav-groups
{
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

.nav-pills > li > a
{
    border-radius: 3px;
}

/**************************** footer ****************************/
.credits {
    font-size: 0.7em;
    text-align: center;
    margin-top: 1em;
}

.credits, .credits a {
    color: rgb(108, 131, 136);
}


/************************** DISCUSSIONS ***************************************/

.discussion, .comments {
    max-width: 65em;
}

.discussion .user {
    font-weight: 700;
}

.discussion .body {
    margin-top: 1em;
    margin-bottom: 2em;
}


/************************** SEARCH  ***************************************/

.result {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eee;
}

.search_results .tab_content {
    padding-bottom: 10em;
}


/*********************** Gallery ************************************************/

#gallery img {
    display: inline-block;
    padding-bottom: 4px;
}


/*********************** Calendar **********************************************/

.fc-today {
    background-color: rgb(255, 241, 144) !important;
}

.fc-content a {
    color: white !important;
}


/****************************** GROUPS & THEIR HOMEPAGE ********************************/

.cover {
    width: 100%;
    float: right;
}

.thumbnail img {
    width: 100%;
    border-radius: 3px;
}

.thumbnail {
    display: inline-block;
    width: 100%;
    border: 0;
}

.group .summary {
    height: 6em;
    font-size: 0.9em;
    overflow: hidden;
}

.group h4
{
    height: 2.3em;
    overflow: hidden;
}

.page_header
{
    padding: 2%;
}



/***************************** USERS ******************/

.avatar img {
    width: 40px;
    height: 40px;
}

.users_list .user {
    font-size: 0.9em;
    padding: 1em;
    margin-bottom: 3em;
    border: 1px solid #aaa;
    border-radius: 3px;
    min-height: 200px;
}


/***************************** COMMENTS ***************************************/

.comment {
    border-bottom: 1px solid #aaa;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.comment .avatar img {
    float: left;
}

.comment .user, .comment .body, .comment .created, .comment .actions {
    margin-left: 60px;
}

.comment .created {
    font-size: 0.7em;
}

.comment .user {
    font-weight: 700;
}

.comment .vote {
    width: 24px;
    text-align: center;
    float: right;
}

.comment .actions {
    font-size: 0.8em;
    float: right;
}



/***************************** Activity ***************************/

.activity
{
    padding: 1em;
    border: 1px solid #eee;
    background-color: white;
    box-shadow: 0 2px 4px rgba(72, 78, 80, 0.2);
    border-radius: 2px;
    margin-bottom: 2em;
}

.activity .detail
{
    padding-left: 45px;
    font-size: 0.8em;
}

.activity .action
{
    text-align:right;
}


.activity-small
{
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid #ddd;
}


/***************************** tables ***************************/

table a
{
text-decoration: none !important;
}


table.special {
    table-layout: fixed
}

table.special td.content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

span.summary {
    color: gray;
    overflow: hidden;
}

span.group-name {
    color: gray;
    font-size: 0.8em;
}

table.special .name {
    font-weight: 700;
}

table.special {
    width: 100%;
}

th.avatar, td.avatar {
    width: 50px;
}

th.summary {
    /*width: 100%;*/
}

th.date {
    width: 6.5em;
}

td.date {
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
}

th.unread, td.unread {
    width: 6em;
}

table, th, tr
{
    border: 0 !important;
}

.table > tbody > tr > td
{
    padding: 12px;
}

/******************************** Mobile **************************************/
@media screen and (max-width: 640px) {
  th.date {
    width: 10%;

  }

  th.avatar, td.avatar {
      width: 30px;
  }

  .avatar img
  {
      width: 25px;
      height: 25px;
  }

  table.special td.content
  {
      width: 80%;
  }

  th.unread, td.unread
  {
      width: 10%;
      display: hidden;
  }

  .main-container
  {
      padding: 0 10px 50px 10px;
      margin: 0;
  }

  h1
  {
      font-size: 20px;
  }

  h2
  {
      font-size: 18px;
  }

  h3
  {
      font-size: 16px;
  }

  h4
  {
      font-size: 14px;
  }

  body, .btn
  {
      font-size: 13px;
  }
}


/******************************** UI ******************************************/

.btn-right {
    float: right;
}

.btn.active, .btn.active:hover
{
    background-color: gray;
}

.history {
    padding: 15px;
    background-color: rgb(206, 222, 131);
}

.help {
    padding: 20px;
    margin: 20px 0px;
    border-width: 0px 0px 0px 5px;
    border-style: solid;
    border-color: #EEE;
    border-image: none;
    border-radius: 3px;
    border-left-color: #1B809E;
    background-color: rgb(188, 218, 226);
}

.help h4 {
    color: #1B809E;
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 18px;
}

.help a {
    text-decoration: underline;
}

.alert
{
    margin-top : 2em;
}

.alert a {
    text-decoration: underline;
}


.label {
    background-color: #1B809E;
    border-radius: 2px;
    display : inline-block;
}

.label a {
    color: white;
}
