.discussions .discussion
{
  margin-top: 20px;
  padding-top: 20px;
/*  border-bottom: 1px solid #ccc;*/
  display: flex;
  align-items: top;
}

.discussion .unread
{
  font-weight: bold;
}
.discussion .name
{
  font-weight: bold;
  display: block;
}


.discussion .avatar
{
  margin-right: 20px;
}

.discussion .date, .discussion .unread
{
  flex-shrink: 0;
  padding-left: 20px;
}



.discussion .group
{
  font-size: 0.8em;
}
