
/******************************** Mobile **************************************/
@media screen and (max-width: 640px) {
  th.date {
    width: 10%;

  }

  th.avatar, td.avatar {
      width: 30px;
  }

  .avatar img
  {
      width: 25px;
      height: 25px;
  }

  table.special td.content
  {
      width: 80%;
  }

  th.unread, td.unread
  {
      width: 10%;
      display: hidden;
  }

  .main-container
  {
      padding: 0 10px 50px 10px;
      margin: 0;
  }

  h1
  {
      font-size: 20px;
  }

  h2
  {
      font-size: 18px;
  }

  h3
  {
      font-size: 16px;
  }

  h4
  {
      font-size: 14px;
  }

  body, .btn
  {
      font-size: 13px;
  }
}
