
/******************************** Mobile **************************************/
@media screen and (max-width: 575px) {


    .avatar img
    {
        width: 25px;
        height: 25px;
    }


    .main-container
    {
        margin: 0;
        padding: 1.5rem;
        border-radius: 0;
    }

    .nav-tabs
    {
        font-size: 70%;
    }

    /*
    h1
    {
        font-size: 20px;
    }

    h2
    {
        font-size: 18px;
    }

    h3
    {
        font-size: 16px;
    }

    h4
    {
        font-size: 14px;
    }

    body, .btn
    {
        font-size: 13px;
    }
    */
}
