@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
    font-family: 'Roboto', sans-serif;
}

.container
{
    max-width: 70em;
    padding-bottom: 2em;
}

.agorakit-intro
{
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;

    margin-top: 5em;
    margin-bottom: 5em;
}

.agorakit-logo
{

}

.agorakit-intro h1
{

    font-size: 8em;
    text-align: right;
    margin-bottom: 0;
    color: #49366c;
}


.agorakit-intro p
{
    position: relative;
    top: -0.8em;
    font-size: 2em;

}


h1, h2, h3
{
    font-family: 'Josefin Sans', sans-serif;
    color: #49366c;
}


.centered
{
    text-align: center;
}


.card
{
    margin-bottom: 3em;
}
